// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  height: 100%;
  position: relative;
}

.top_h1{
  text-align: center;
  font-size: 70px;
  color: #FFF;
  margin-bottom: 15px;
}

.top_p{
  text-align: center;
  font-size: 40px;
  color: #FFF;
  margin-bottom: 40px;
}

.top_p2{
  text-align: center;
  font-size: 40px;
  color: #FFF;
  margin-top: 40px;
}

.top-box {
  margin: 0 auto;
  width: 100%;
  min-height: calc(100vh - 63px);
  background: linear-gradient(#1D976C, #93F9B9);
}

.top-btn {
  text-align: center;
}

.top-btn2{
  font-size: 40px;
  width: 50%;
}
