// Place all the styles related to the users::registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2{
  color: #FFF;
}

.field {
  margin-top: 5px;
}

.actions {
  margin-top: 5px;
  font-weight: bold;
  font-size: 15px;
}

.devise-link {
  color : #FFF;
  font-size: 15px;
}

.remenber_me_label {
  color: #FFF;
}

.devise-box,
.users-list-box,
.message-index-box,
.conversation-box {
  color: #FFF;
  margin: 0 auto;
  width: 100%;
  min-height: calc(100vh - 63px);
  background-color: #009688;
}

.confirm-btn {
  margin-left: 3px;
}
